.register-page {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #00013b, #80f085);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container {
    display: none;
  }
  
  @media (min-width: 768px) {
    .image-container {
      display: block;
      height: 80%;
    }
  
    .side-image {
      width: 100%;
      height: 100%;
      border-radius: 10px 0 0 10px;
      object-fit: cover;
    }
  }
  
  .register-form {
    background: white;
    padding: 2rem;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    animation: slideIn 0.5s ease-out;
    display: flex;
    flex-direction: column;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #80f085;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  h2 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .form-input, .form-select {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-button, .login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #80f085;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-button:hover, .login-button:hover {
    background-color: #FFB75E;
  }
  
  .login-link {
    text-align: center;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  